body {
  font-family: "Source Code Pro", monospace;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.container {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  height: 2260px;
}
/*

Aside

*/
.aside {
  flex: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #90ccac;
  width: 297px;
  height: 100%;
}
.aside__link {
  flex: 1;
  margin: 10%;
}
.aside__foot {
  flex: none;
  margin: 10%;
  font: normal normal bold 13px/17px Source Code Pro;
  color: #ffffff;
}
.aside__title {
  font: normal normal bold 30px/38px Source Code Pro;
  color: #ffffff;
}
.aside__a {
  font: normal normal normal 13px/17px Source Code Pro;
  color: #ffffff;
}
a:hover,
a:visited,
a:active {
  color: #ffffff;
}
/*

Modulo

*/
.section {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 1063px;
  margin-left: 297px;
}
.module {
  order: 1;
  display: flex;
  flex-direction: column;
  height: 715px;
  margin: 0;
}
.module__title {
  flex: 1;
  margin-left: 7%;
  margin-top: 6%;
  margin-bottom: 0;
  font: normal normal normal 40px/50px Source Code Pro;
  color: #ffffff;
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
.module__form {
  flex: 4;
  margin: 7%;
  margin-top: 0;
  margin-bottom: 0;
}
.module__text {
  font: normal normal normal 22px/39px Source Code Pro;
  color: #333333;
  opacity: 0.6;
  margin: 0;
}
.module__form__dot {
  font: normal normal normal 22px/39px Source Code Pro;
  color: #333333;
  opacity: 0.4;
}
.module__form__input {
  font: italic normal 300 20px/25px Source Code Pro;
  color: #333333;
  border-bottom: 2px dashed #333333;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  background-color: transparent;
  opacity: 0.4;
}
.module__button {
  flex: 1;
  margin-left: 7%;
}
.module__button__submit {
  width: 285px;
  height: 67px;
  background: #eaeaea 0% 0% no-repeat padding-box;
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font: normal normal normal 22px/28px Source Code Pro;
  color: #333333;
}
.error {
  position: absolute;
  display: inline-block;
  font-size: 10px;
  color: #ff0000;
  text-transform: uppercase;
  opacity: 0.5;
}
.invalid {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom: 2px dashed #ff0000;
  opacity: 0.4;
}
/*

Chat

*/
.chat {
  order: 2;
  display: flex;
  flex-direction: column;
  height: 715px;
  margin: 0;
}
.chat__title {
  flex: 1, 1;
  margin-left: 7%;
  margin-top: 0;
  margin-bottom: 5%;
  font: normal normal normal 40px/50px Source Code Pro;
  color: #ffffff;
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
.chat__window {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin-right: 12%;
  margin-left: 7%;
  margin-top: 0;
  margin-bottom: 7%;
}
.chat__window__message {
  flex: none;
  display: flex;
  flex-direction: column;
  background: padding-box;
  border-top: 1px solid #b6bdc1;
  border-bottom: 1px solid #b6bdc1;
  border-left: 2px solid #b6bdc1;
  border-right: 2px solid #b6bdc1;
  overflow-y: auto;
  height: 450px;
}
.chat__window__message__head {
  flex: none;
  height: 64px;
  display: flex;
  margin: 4%;
}
.chat__window__message__head__avatar {
  flex: none;
  height: 64px;
  width: 64px;
  background: transparent url("img/chat.png") 0% 0% no-repeat padding-box;
  border-radius: 50%;
}
.chat__window__message__head__user {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2.5%;
}
.chat__window__message__head__user__name {
  flex: none;
  font: normal normal normal 22px/28px Source Code Pro;
  color: #333333;
}
.chat__window__message__head__user__time {
  flex: none;
  font: normal normal normal 13px/17px Source Code Pro;
  color: #cccccc;
}
.chat__window__message__user {
  flex: none;
  display: flex;
  flex-direction: column;
}
.message--box--user {
  flex: flex-start;
  background: #e6f7ff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 290px;
  height: 39px;
  margin-bottom: 4px;
  margin-left: 4%;
}
.message--box--mine {
  flex: none;
  background: #f4f6f7 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 290px;
  height: 39px;
  margin-bottom: 4px;
  margin-left: 60%;
  margin-right: 10%;
}
.message--box--user--gift {
  background: #f4f6f7 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 290px;
  height: 90px;
  margin-left: 4%;
}
.message {
  font: normal normal normal 14px/18px Source Code Pro;
  text-align: left;
  margin-left: 13px;
  margin-bottom: 11px;
  margin-top: 10px;
}
.message--gift {
  text-decoration: underline;
  font: normal normal normal 14px/18px Source Code Pro;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 17px;
  margin-top: 18px;
}
.chat__window__write {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #f4f6f7;
}
.chat__window__write__input {
  flex: 3;
  margin-left: 2%;
  margin-right: 0;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  font: normal normal normal 14px/18px Source Code Pro;
  color: #cccccc;
  text-indent: 21px;
  border-width: 0;
  border-radius: 5px 0px 0px 5px;
}
.chat__window__write__button {
  flex: 1;
  margin-right: 2%;
  margin-left: 0;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background-color: #e6f7ff;
  border-radius: 0px 5px 5px 0px;
  border: none;
  text-align: center;
  font: normal normal normal 14px/18px Source Code Pro;
  color: #333333;
}
/*

Tab

*/
.tab {
  order: 3;
  height: 715px;
  margin: 0;
}
.tab__title {
  flex: 1, 1;
  display: flex;
}
.tab__title__link {
  flex: none;
  margin-left: 7%;
  margin-top: 1%;
  margin-bottom: 5%;
  font: normal normal normal 40px/50px Source Code Pro;
  color: #ffffff;
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
.tab__title__button {
  flex: none;
  margin-left: 4%;
  background: #eaeaea 0% 0% no-repeat padding-box;
  border-color: transparent;
  width: 234px;
  height: 67px;
  font: normal normal normal 22px/28px Source Code Pro;
}
.tab__content {
  flex: 3;
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: auto;
  width: 859px;
  border: 1px solid #aebed8;
}
.tab__content__head {
  flex: flex-start;
  margin-bottom: 0;
  margin-top: 0;
  width: 859px;
  height: 86px;
  background: #aebed8 0% 0% no-repeat padding-box;
  border-collapse: collapse;
}
.tab__content__head--font {
  font: normal normal 600 18px/23px Source Code Pro;
  color: #ffffff;
}
.tab__content__load {
  flex: 1;
}
.tab__content__load__nodata {
  font-size: 22px;
  text-align: center;
}
.tab--delete--button {
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
  font: normal normal normal 18px/23px Source Code Pro;
  text-align: end;
  color: #333333;
}
.tab--data {
  font: normal normal normal 18px/23px Source Code Pro;
  color: #333333;
}
.tab--load--img {
  width: 43px;
  height: 42px;
  border-radius: 50%;
  background-color: grey;
}
