body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
}
.container {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  height: 2260px;
}
/*

Aside

*/
.aside {
  flex: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #90CCAC;
  width: 297px;
  height: 100%;
}
.aside_link1 {
  flex: none;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 600px;
}
.aside_h {
  flex: none;
  display: flex;
  flex-direction: column;
  margin-top: 38px;
  margin-bottom: 0;
  text-align: left;
  font: normal normal bold 30px/38px Source Code Pro;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.asidelink1_2 {
  flex: none;
  margin-top: 33px;
  margin-bottom: 0;
  height: 17px;
}
.asidelink1_3 {
  flex: none;
  margin-top: 17px;
  margin-bottom: 0;
  height: 17px;
}
.asidelink1_4 {
  flex: none;
  margin-top: 17px;
  margin-bottom: 0;
  height: 17px;
}
.aside_p {
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 13px/17px Source Code Pro;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.aside_link2 {
  flex: none;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 17px;
  text-align: left;
  font: normal normal bold 13px/17px Source Code Pro;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
/*

Modulo

*/
.allsection {
  flex: none;
  display: flex;
  flex-direction: column;
  margin-left: 297px;
  width: 1063px;
  height: 2260px;
}
.section_1 {
  flex: none;
  height: 715px;
  display: flex;
  flex-direction: column;
}
.section_1_title {
  flex: none;
  margin-top: 45.5px;
  margin-left: 84.5px;
  margin-bottom: 0;
  width: 480px;
  height: 50px;
  text-align: left;
  font: normal normal normal 40px/50px Source Code Pro;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
.section_1_item {
  flex: none;
  margin-top: 37.5px;
  margin-left: 84.5px;
  width: 858px;
  height: 418px;
}
.section_1_p {
  text-align: left;
font: normal normal normal 22px/39px Source Code Pro;
letter-spacing: 0px;
color: #333333;
opacity: 0.6;
}
.section_1_dot {
  flex: none;
  position: absolute;
  top: 133px;
  left: 383px;
  width: 858px;
  height: 418px;
  opacity: 0.4;
}
hr.dot1 {
  border: 1px dashed #333333;
  margin-left: 132px;
  margin-right: 498px;
}
hr.dot2 {
  border: 1px dashed #333333;
}
hr.dot3 {
  border: 1px dashed #333333;
  margin-right: 15px;

}
hr.dot4 {
  border: 1px dashed #FF0000;
  margin-left: 220px;
  margin-right: 350px;
}
hr.dot5 {
  border: 1px dashed #FF0000;
  margin-left: 557px;
  margin-right: 15px;
}
.dot1_1 {
  flex: none;
  position: absolute;
  top: 241px;
  left: 933px;
  width: 285px;
  height: 0px;
  border: 1px dashed #333333;
  opacity: 0.4;
}
.point1 {
  flex: none;
  position: absolute;
  top: 225px;
  left: 1228px;
  width: 13px;
  height: 28px;
  text-align: left;
  font: normal normal normal 22px/39px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 0.4;
}
.point2 {
  flex: none;
  position: absolute;
  top: 346px;
  left: 1228px;
  width: 13px;
  height: 28px;
  text-align: left;
  font: normal normal normal 22px/39px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 0.4;
}
.point2 {
  flex: none;
  position: absolute;
  top: 346px;
  left: 1228px;
  width: 13px;
  height: 28px;
  text-align: left;
  font: normal normal normal 22px/39px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 0.4;
}
.point3 {
  flex: none;
  position: absolute;
  top: 426px;
  left: 1228px;
  width: 13px;
  height: 28px;
  text-align: left;
  font: normal normal normal 22px/39px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 0.4;
}
.point4 {
  flex: none;
  position: absolute;
  top: 517px;
  left: 1228px;
  width: 13px;
  height: 28px;
  text-align: left;
  font: normal normal normal 22px/39px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 0.4;
}
.fontmod {
  text-align: left;
  font: italic normal 300 20px/25px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 0.4;
}
.name {
  flex: none;
  position: absolute;
  top: 213px;
  left: 525px;
  width: 168px;
  height: 25px;
}
.job {
  flex: none;
  position: absolute;
  top: 213px;
  left: 940px;
  width: 132px;
  height: 25px;
}
.why {
  flex: none;
  position: absolute;
  top: 291px;
  left: 384px;
  width: 264px;
  height: 25px;
}
.phone {
  flex: none;
  position: absolute;
  top: 373px;
  left: 608px;
  width: 228px;
  height: 25px;
}
.email {
  flex: none;
  position: absolute;
  top: 408px;
  left: 947px;
  width: 168px;
  height: 25px;
}
.ex {
  flex: none;
  position: absolute;
  top: 448px;
  left: 388px;
  width: 216px;
  height: 25px;
}
.alp {
  flex: none;
  position: absolute;
  top: 365px;
  left: 602px;
  width: 114px;
  height: 13px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  color: #FF0000;
  text-transform: uppercase;
  opacity: 0.4;
}
.aem {
  flex: none;
  position: absolute;
  top: 396px;
  left: 940px;
  width: 90px;
  height: 13px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  color: #FF0000;
  text-transform: uppercase;
  opacity: 0.4;
}
.section_1_button {
  flex: none;
  margin-top: 36px;
  margin-left: 84.5px;
  width: 285px;
  height: 67px;
  background: #EAEAEA 0% 0% no-repeat padding-box;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font: normal normal normal 22px/28px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  position: inherit;
  opacity: 1;
}
/*

Chat

*/
.section_2 {
  flex: none;
  display: flex;
  flex-direction: column;
  height: 635,73px;
}

.section_2_title {
  flex: none;
  margin-top: 0;
  margin-left: 84.5px;
  margin-bottom: 0;
  width: 144px;
  height: 50px;
  text-align: left;
  font: normal normal normal 40px/50px Source Code Pro;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
.section_2_item {
  flex: none;
  display: flex;
  flex-direction: column;
  margin-top: 51.73px;
  margin-left: 84.5px;
  margin-right: 119px;
  margin-bottom: 0;
  width: 857px;
  height: 453px;
  border: 1px solid #B6BDC1;
}
.section_2_p1 {
  margin: 10px 13px 49px 11px;
  text-align: left;
  font: normal normal normal 14px/18px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.section_2_p2 {
  margin: 10px 13px 42px 11px;
  text-align: left;
  font: normal normal normal 14px/18px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.section_2_p3 {
  margin: 10px 13px 193px 11px;
  text-align: left;
  font: normal normal normal 14px/18px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.section_2_p4 {
  flex: none;
  display: flex;
  flex-direction: row;
  margin-top: 19px;
  margin-left: 48px;
  margin-right: 0;
  margin-bottom: 14px;
  width: 130px;
  text-align: left;
  font: normal normal normal 14px/18px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.section_2_p5 {
  flex: none;
  margin-top: 0;
  margin-left: 93px;
  margin-bottom: 17px;
  width: 200px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 14px/18px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}
.section_2_gift {
  flex: none;
  position: absolute;
  top: 1112px;
  left: 618px;
  width: 32px;
  height: 42px;
  text-align: left;
  font: normal normal normal 32px/40px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.section_2_chat1 {
  display: flex;
  flex-direction: row;
  flex: none;
  margin-top: 43px;
  margin-left: 40px;
  width: 274px;
  height: 60px;
  border-radius: 5px;
}
.section_2_img {
  flex: none;
  width: 60px;
  height: 60px;
  background: transparent url('img/chat.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
}
.section_2_imgchat {
  display: flex;
  flex-direction: column;
  flex: none;
  height: 28px;
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 0;
  text-align: left;
  font: normal normal normal 22px/28px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.section_2_imgchat2 {
  flex: none;
  margin-top: 1px;
  margin-left: 24px;
  text-align: left;
  font: normal normal normal 13px/17px Source Code Pro;
  letter-spacing: 0px;
  color: #CCCCCC;
  opacity: 1;
}
.section_2_chat2 {
  flex: none;
  margin-top: 46px;
  margin-left: 40px;
  width: 290px;
  height: 39px;
  background-color: #E6F7FF;
  border-radius: 5px;
}
.section_2_chat3 {
  flex: none;
  margin-top: 4px;
  margin-left: 525px;
  width: 290px;
  height: 39px;
  background-color: #F4F6F7;
  border-radius: 5px;
}
.section_2_chat4 {
  flex: none;
  margin-top: 6px;
  margin-left: 40px;
  width: 290px;
  height: 39px;
  background-color: #E6F7FF;
  border-radius: 5px;
}
.section_2_chat5 {
  flex: none;
  margin-top: 7px;
  margin-left: 40px;
  width: 290px;
  height: 90px;
  background-color: #F4F6F7;
  border-radius: 5px;
}
.section_2_chat6 {
  display: flex;
  flex: none;
  margin-top: 0;
  margin-left: 84.5px;
  width: 859px;
  height: 81px;
  background-color: #F4F6F7;
}
.arrowchat1 {
  flex: none;
  top: 959px;
  left: 435px;
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #E6F7FF;
  background-color:transparent;
}
.arrowchat2 {
  flex: none;
  top: 1047px;
  left: 435px;
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #F4F6F7;
  background-color:transparent;
}
.arrowchat3 {
  flex: none;
  position: absolute;
  top: 1048px;
  left: 1168px;
  width: 0px;
  height: 0px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #E6F7FF;
  background-color:transparent;
}
.section_2_write {
  flex: none;
  margin-top: 14px;
  margin-left: 13px;
  margin-right: 0px;
  width: 649px;
  height: 54px;
  text-align: left;
  font: normal normal normal 14px/18px Source Code Pro;
  letter-spacing: 0px;
  color: #CCCCCC;
  opacity: 1;
  text-indent: 21px;
  border-width: 0;
  border-radius: 5px 0px 0px 5px;
}
.section_2_button {
  flex: none;
  margin-top: 14px;
  margin-left: 0px;
  width: 181px;
  height: 56px;
  background: #E6F7FF 0% 0% no-repeat padding-box;
  border-radius: 0px 5px 5px 0px;
  border: none;
  opacity: 1;
  text-align: center;
  font: normal normal normal 14px/18px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
/*

Table

*/
.section_3 {
  flex: none;
  display: flex;
  flex-direction: column;
  height: 715px;
}
.section_3_title {
  flex: none;
  display: flex;
  width: 700px;
  height: 67px;
  margin-top: 99px;
  margin-left: 84.5px;
  margin-right: 0;
  margin-bottom: 0;
}
.section_3_h {
  flex: none;
  margin-top: 8.66px;
  margin-left: 0;
  margin-bottom: 8.66px;
  width: 360px;
  height: 50px;
  text-align: left;
  font: normal normal normal 40px/50px Source Code Pro;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.section_3_button {
  flex: none;
  margin-left: 36.5px;
  width: 234px;
  height: 67px;
  background: #EAEAEA 0% 0% no-repeat padding-box;
  border-color: transparent;
  opacity: 1;
  top: 1450px;
  left: 778px;
  width: 234px;
  height: 67px;
  text-align: center;
  font: normal normal normal 22px/28px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.section_3_table {
  flex: none;
  margin-top: 48px;
  margin-left: 84.5px;
  width: 859px;
  height: 86px;
  background: #AEBED8 0% 0% no-repeat padding-box;
  border-collapse: collapse;
}
.section_3_table1 {
  text-align: left;
  font: normal normal 600 18px/23px Source Code Pro;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.section_3_tablep {
  text-align: center;
  font: normal normal normal 18px/23px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.section_3_tableimg {
  background: transparent url('img/chat.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 43px;
  height: 42px;
  border-radius: 50%;
  background-size: cover;
}
.line {
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 18px/23px Source Code Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.tr1 {
  padding: 32px 192px 31px 34px;
  width: 76px;
}
.tr2 {
  padding: 31px 94px 32px 0px;
  width: 32px;
}
.tr3 {
  padding: 31px 217px 32px 0px;
  width: 97px;
}
.tr4 {
  padding: 32px 52px 31px 0px;
  width: 65px;
}
.section_3_table2 {
  flex: none;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: 118.5px;
  width: 825px;
  height: 389px;
}
.tab1 {
  flex: none;
  margin: 0;
  width: 825px;
  height: 42px;
}
.tab2 {
  flex: none;
  margin-top: 46px;
  width: 825px;
  height: 42px;
}
.tab3 {
  flex: none;
  margin-top: 46px;
  width: 825px;
  height: 42px;
}
.tab4 {
  flex: none;
  margin-top: 46px;
  width: 825px;
  height: 42px;
}
.tab5 {
  flex: none;
  margin-top: 46px;
  width: 825px;
  height: 42px;
}
.tablefoot {
  width: 100%;
}
.pad1 {
  padding: 11px 71px 8px 32px;
  width: 119px;
}
.pad5 {
  padding: 0;
  width: 43px;
}
.pad2 {
  padding: 10px 95px 9px 0px;
  width: 22px;
}
.pad3 {
  padding: 11px 71px 8px 0px;
  width: 230px;
}




